
#fh5co-counter,
#fh5co-event,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-image: url("../../assets/images/place3.jpg");
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

#fh5co-counter,
#fh5co-event {
  height: 1000px;
  float: left;
}
#fh5co-counter .display-t,
#fh5co-counter .display-tc,
#fh5co-event .display-t,
#fh5co-event .display-tc {
  height: 700px;
  display: table;
  width: 100%;
}
#fh5co-counter .fh5co-heading h2,
#fh5co-event .fh5co-heading h2 {
  color: #fff;
}
#fh5co-counter .fh5co-heading span,
#fh5co-event .fh5co-heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}
#fh5co-counter .overlay,
#fh5co-event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 768px) {
  #fh5co-counter,
  #fh5co-event {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-counter .display-t,
  #fh5co-counter .display-tc,
  #fh5co-event .display-t,
  #fh5co-event .display-tc {
    height: inherit;
  }
}
#fh5co-counter .event-wrap,
#fh5co-event .event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #fh5co-counter .event-wrap,
  #fh5co-event .event-wrap {
    margin-bottom: 10px;
  }
}
#fh5co-counter .event-wrap h3,
#fh5co-event .event-wrap h3 {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#fh5co-counter .event-wrap p,
#fh5co-counter .event-wrap span,
#fh5co-event .event-wrap p,
#fh5co-event .event-wrap span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-counter .event-wrap i,
#fh5co-event .event-wrap i {
  color: white;
  font-size: 20px;
}
#fh5co-counter .event-wrap .event-col,
#fh5co-event .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}
