.App {
  text-align: center;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  /* color: #828282; */
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #162759;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #162759;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #162759;
}

::-moz-selection {
  color: #fff;
  background: #162759;
}

::selection {
  color: #fff;
  background: #162759;
}

#fh5co-footer,
#fh5co-event,
#fh5co-couple,
.fh5co-section {
  padding: 7em 0;
  clear: both;
}

@media screen and (max-width: 768px) {

  #fh5co-footer,
  #fh5co-event,
  #fh5co-couple,
  .fh5co-section {
    padding: 3em 0;
  }
}

.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 100vh;
  display: table;
  width: 100%;
}